.card {
  width: 500px;
  padding-top: 24px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #f6f9f9;

  text-align: center;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(46, 44, 44);

  margin: auto;
  display: block;
}

.name {
  padding-top: 16px;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.tag {
  font-size: 18px;
  color: #6a6969;
  margin: 0;
}

.location {
  font-size: 18px;
  color: #6a6969;
  margin: 0;
  padding-bottom: 24px;
}

.statList {
  list-style: none;
  display: flex;
  border-top: 3px solid gray;

  background-color: lightgray;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  text-align: center;

  font-size: 22px;
}

.statList li {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.statList li:first-child {
  border-right: 3px solid gray;
}
.statList li:nth-child(even) {
  border-right: 3px solid gray;
}

.textSpan {
  font-weight: 700;
}
